@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  --maroon-clr: rgb(56, 5, 42);
  --dark-clr: rgb(13, 0, 31);
  --white-clr: rgb(245, 245, 245);
  --light-clr: rgb(248, 228, 195);
}

.container-loader {
  background-color: var(--dark-clr);
  position: fixed;
  inset: 0;
  z-index: 999;
  display: grid;
  place-content: center;

}

svg {
  width: 20rem;
  font-weight: 350;

}

svg text {
  font-size: 5rem;
  stroke-width: 2;
  letter-spacing: -6px;

}

.text-body {
  stroke: var(--white-clr);
  animation: 4s infinite alternate animate-stroke;
}

@keyframes animate-stroke {
  0% {
    fill: transparent;
    stroke: var(--white-clr);
    stroke-width: 3;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 32%;
  }

  50% {
    fill: transparent;
    stroke: var(--white-clr);
    stroke-width: 3;
  }
  80%,
  100% {
    fill: var(--white-clr);
    stroke: transparent;
    stroke-width: 0;
    stroke-dashoffset: -25%;
    stroke-dasharray: 32% 0;
  }
}
.hidden{
  opacity: 0;
  visibility: hidden;
}

* {
  font-family: "Oswald", sans-serif;
  line-height: 1.5;
  font-size: 1.5rem;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: var(--dark-clr);
  color: var(--white-clr);
  text-decoration: none;

}

.container {
  width: 80vw;
  overflow-x: hidden;
 
}

header {
  margin-top: 60px;
  margin-bottom: 120px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.logo {
  width: 1em;
  height: 1em;
}

.nav-tags {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  text-decoration: none;

}

.nav-tags>a {
  font-size: 1.5rem;
  transition: color .5s ease-in-out;
}

.nav-tags>a:hover {
  color: var(--maroon-clr);
}

.hero-section {
  text-align: center;
}

#name {
  font-size: 3rem;
}

.js-typewritter,
.cursor {
  font-size: 3.5rem;
  color: var(--maroon-clr);
}

.hero-section-socials>a>img {
  margin: 16px;
}
.hero-section-socials img:hover{
background-color: var(--white-clr);
}
h2 {
  font-size: 2rem;
  padding: 32px;

}

h4 {
  font-weight: lighter;
}
.scroll-down{
  text-align: center;
  width:54px ;
  height: 54px;
  animation: .8s ease infinite alternate bounce ;
}

@keyframes bounce{
  50%{
transform: translateY(1rem);
  }
  
  100%{
transform: translateY(1rem);
  }
}
.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  margin-top: 40px;
  margin-bottom: 120px;

}

.about-section-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 0.2em 2em;
  border: solid 2px var(--maroon-clr);
  border-radius: 16px;
  font-size: 1rem;
  font-weight: lighter;
  transition: back-ground color .4s ease-in-out;

}

.about-section-button:hover,
.about-section-button:active,
.footer-cta-btn:hover,
.footer-cta-btn:active {
  background-color: var(--maroon-clr);
  border: none;
}

.about-section img {
  background: none;
}

.techstack-section {
  margin-top: 40px;
  margin-bottom: 120px;

}

.techstack-section>div {
  display: grid;
  grid-template-columns: 25% 1fr;
  align-items: center;
  justify-content: center;
  padding: 10px;

}

.techstack-section-img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5em;
}

.techstack-section-img>span {
  font-weight: lighter;
  font-size: 1rem;
}
.techstack-section-img img{
  width: 64px;
  height: 64px ;
}
.projects-section {
  margin-bottom: 120px;
}

.projects-section>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.footer-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

}

.footer-cta p,
button {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.footer-cta-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 0.2em 2em;
  border: solid 2px var(--maroon-clr);
  border-radius: 16px;
  font-size: 1rem;
  font-weight: lighter;
  margin-bottom: 80px;
  transition: back-ground color .4s ease-in-out;
}

.footer-cta-btn>img {
  padding-top: 5px;
}
.socials{
  text-align: center;
}
.socials img:hover{
background-color: var(--white-clr);
}

.credits {
  font-size: 1rem;
  font-weight: lighter;
}

@media (width< 600px) {
  .techstack-section-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (width < 900px) {
  * {
    font-size: 1rem;
    text-align: center;
  }

  .about-section {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  .about-section-text>p {
    font-size: 1.5rem;
  }

  .techstack-section>div,
  .projects-section>div {

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;

  }

  h4 {
    font-size: 1.5rem;
    text-align: center;
    padding: 32px;
    font-weight: normal;
  }

}

@media (width < 1020px) {

  .about-section {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .techstack-section>div {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;

  }

  h2 {
    text-align: center;
  }

  h4 {
    font-weight: normal;
  }
}